//fall

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #f9e0bb;
  color: #343131;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

button {
  background-color: transparent;
  border: 5px double #4a2c2a;
  font-family: 'Poppins', sans-serif;
  color: #4a2c2a;
  cursor: pointer;
}

a {
  text-decoration: none;

  &:visited {
    color: #4a2c2a;
  }
}

:root {
  --fall-cream: #f9e0bb;
  --fall-pumpkin: #d67d3e;
  --fall-maple: #a34343;
  --fall-goldenrod: #e6af2e;
  --fall-forest: #556b2f;
  --fall-espresso: #4a2c2a;

  --fall-skill: #ff7f51;
  --fall-tag: #720026;
}
