//fall

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

button {
  background-color: transparent;
  // border: 5px double #4a2c2a;
  font-family: 'Poppins', sans-serif;
  // color: #4a2c2a;
  cursor: pointer;
}

a {
  text-decoration: none;

  &:visited {
    color: #4a2c2a;
  }
}

// :root {

//   --text: #343131;
//   --background: #F9E0BB;
//   --stylized-text : #4a2c2a;
//   --tag-color: #ff7f51;
//   --tag-text: #720026;
//   --titlebox: #f7b267;
// }

// :root {

//   --text: #343131;
//   --background: #BDE0FE;
//   --stylized-text : #081c15;
//   --tag-color: #ff5555;
//   --tag-text: #720026;
//   --titlebox: #9cc5a1;
// }

:root {

  --text: #E6EDF3;
  --background: #121A24  ;
  --stylized-text : #E6EDF3  ;
  --tag-color: #1F3937   ;
  --tag-text: #B0C4DE  ;
  --titlebox: #203A47   ;
}